<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>803035832572-4adi3gktvb35hg9h713ifi16127pconk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803035832572-4adi3gktvb35hg9h713ifi16127pconk</string>
	<key>API_KEY</key>
	<string>AIzaSyCA_oA7xoSj5-3AWHPt8WoA8EeZTGwMyP4</string>
	<key>GCM_SENDER_ID</key>
	<string>803035832572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harrisonbacordo.flatmate</string>
	<key>PROJECT_ID</key>
	<string>flat-mate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flat-mate-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803035832572:ios:ce285b5e9d318ac0</string>
	<key>DATABASE_URL</key>
	<string>https://flat-mate-app.firebaseio.com</string>
</dict>
</plist>